@use '@/assets/styles/helpers' as *;

.button {
  @include fluid-text(20, 18);

  color: var(--color-light);
  padding: 14px 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  border: none;

  @include hover {
    opacity: 0.8;
  }
}