@use '@/assets/styles/helpers' as *;

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  overflow: hidden;

  @include mobile {
    width: 100%;
  }
}

.slide {
  display: flex;
  width: 100%;
  transition: all 0.3s ease;

  * {
    flex-grow: 1;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

.container {
  overflow: hidden;
  max-width: 1000px;
  min-width: 0px;
  position: relative;

  @include mobile {
    overflow: visible;
  }
}

.dots {
  position: absolute;
  display: flex;
  gap: 8px;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
}

.dot {
  border: none;
  padding: fluid(6, 3);
  border-radius: 50%;
  background: var(--color-black);

  &.active {
    background: var(--color-accent);
    transform: scale(1.2);
  }
}

.button {
  padding: 0;
  border: none;
  background: none;
  z-index: 100;
  transform-origin: center;

  svg {
    width: 40px;
    height: 40px;
  }

  &:active {
    transform: scale(0.9);
  }

  @include mobile {
    position: absolute;
    top: 50%;
    translate: (0 -50%);
    color: var(--color-light);

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.prev {
  @include mobile {
    left: 5px;
  }
}

.next {
  @include mobile {
    right: 5px;
  }
}